.menu-illustration{
    background: #F0FFF0;
}
.logo{
    width: 190px;
    height: 90px;
}
.sign-btn{
    color: white;
    background-color: #21B573;
    width: 100px;
    height: 40px;
    border-radius: 22px;
    border: none;
}
.get-btn{
    color: white;
    background-color: #21B573;
    border-radius: 22px;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;

}
.illustration{
    width: 100%;
    margin-bottom: 50px;
}
.ready{
    color: #FD511A;
}
#schedule{
    color: #21B573;
}
.fun{
    color: #000000;
    font-weight: bolder;
}
.icon-img{
    width: 60px;
    height: 70px;
    margin: auto;
    margin-top: 20px;
}
.card-part{
    margin: 30px;
}
.cd{
    padding: 40px 0px;
    background: #F0FFF0;;
}
#cd{
    background: #FFFFFF;
}
.card-title{
    color: #413960;
}
.card-text, .lorem{
    color: #585859;
}
.o-c{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
    color: #413960;
}
.man-img{
    width: 22%;
    height: 26%;
    margin-top: 152px;
}
.testimonial{
    margin: 70px;
    margin-top: 50px;
    margin-bottom: 60px;
}
.testimonial-text{
    margin-bottom: 80px;
}
.footer{
    background: black;
    color: white;
}
.footer-text{
    margin-top: 75px;
    font-style: normal;
    font-size: 18px;
}
.footer-row{
    margin-bottom: 150px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
ul li{
    list-style: none;
}
.f-head{
    margin-left: 39px;
}
.col-md-2{
    margin-top: 75px;
}

.start-left{
    float: left;
}
.start-right{
    float: right;
}
.start-text{
    margin-top: 20px;
}
.h5{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #413960;
}